@import '@/styles/theme';

.page {
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
  overflow: hidden;
}

.media {
  transform: translateX(-$padding-horizontal * 0.5);
  width: 100vw;

  @media (min-width: $min-width-sm) {
    transform: unset;
    width: 130%;
  }

  video {
    width: 100%;
  }
}

.carousel {
  display: flex;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  width: 100%;

  &__items {
    display: flex;
    transform: translateX(0);
    transition: transform 1s;
    will-change: transform;

    &-item {
      height: 100vh;
      width: 100vw;

      img {
        filter: blur(4px);
        height: 100vh;
        width: 100vw;
      }
    }
  }

  &__content {
    color: $navy-blue;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue Regular;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: $menu-height;
    width: 100vw;
    z-index: 1;

    @media (min-width: $min-width-sm) {
      align-items: center;
      flex-direction: row;
      transform: translateY(-10vh);
    }

    &-left {
      font-size: 15vh;
      height: 30vh;
      padding-left: 1rem;

      @media (min-width: $min-width-sm) {
        font-size: 8em;
        height: unset;
        padding: 0;
        padding-left: 2rem;
      }
    }

    &-right {
      font-size: 2em;
      padding: $padding-vertical $padding-horizontal;

      @media (min-width: $min-width-sm) {
        font-size: 6em;
        line-height: 1em;
        padding: unset;
        position: absolute;
      }
    }
  }

  &__prev {
    $size: 62px;

    cursor: pointer;
    height: $size;
    left: $size;
    opacity: 0;
    position: absolute;
    transform: translateY(calc(90vh - 30px)) rotate(180deg);
    transition: opacity 0.4s;
    width: $size;
    will-change: opacity;

    &:hover {
      filter: brightness(100);
    }

    &-hidden {
      cursor: auto;
    }

    &-visible {
      opacity: 1;
    }

    @media (min-width: $min-width-sm) {
      transform: translateY(calc(90vh - 79px)) rotate(180deg);
    }
  }

  &__next {
    $size: 62px;

    cursor: pointer;
    height: $size;
    opacity: 0;
    position: absolute;
    right: $size;
    transform: translateY(calc(90vh - 13px));
    transition: opacity 0.4s;
    width: $size;
    will-change: opacity;

    &:hover {
      filter: brightness(100);
    }

    &-hidden {
      cursor: auto;
    }

    &-visible {
      opacity: 1;
    }

    @media (min-width: $min-width-sm) {
      transform: translateY(calc(90vh - 62px));
    }
  }
}
