@import '@/styles/theme';

.content {
  height: 100vh;
  overflow: hidden;

  &__inner {
    display: flex;
    transition: transform 0.4s ease-in;
    will-change: transform;
  }

  &__page {
    width: 100vw;
  }
}

.pagination {
  bottom: 1rem;
  display: flex;
  left: $padding-horizontal * 3;
  position: absolute;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    bottom: 3rem;
  }

  &__item {
    margin-right: 0.3rem;
    opacity: 0.3;
    padding: 0.5rem 0.3rem;
    transition: 0.5s opacity;
    transition-delay: 0.2s;
    width: 3rem;
    will-change: opacity;

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      margin-right: 1rem;
      width: 5rem;
    }

    &:hover {
      cursor: pointer;
    }

    &-bg {
      background-color: $white;
      height: 0.3rem;

      @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
        height: 0.5rem;
      }
    }

    &-active {
      opacity: 1;
    }
  }
}
