@import '@/styles/theme';

.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding-bottom: 0;
  padding-left: $padding-horizontal * 1.5;
  padding-right: $padding-horizontal * 1.5;
  padding-top: $padding-vertical * 1.5;
  scroll-snap-align: start;
  width: 100%;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    font-size: 2em;
  }
}

.footer-text {
  color: $white;
  // font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $padding-vertical * 2;
  padding: $padding-vertical * 2;
  padding-bottom: $padding-vertical;
}

.footer-text > * {
  max-width: 290px;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    max-width: 550px;
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding-vertical * 2;
  padding-bottom: $padding-vertical * 0;
  padding-top: $padding-vertical * 1;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  width: 290px;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    width: 550px;
  }
}

.footer-links-left {
  display: flex;
  flex-direction: row;
}

.footer-pages,
.footer-social {
  display: flex;
  flex-direction: column;
  width: 18vw;
}

.footer-links a {
  color: $white;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.5em;
  padding-right: $padding-horizontal;
}

.footer-mobile-text {
  display: none;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 0 auto;
  width: 390px;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    width: 750px;
  }
}

.footer-logo {
  // padding: $padding-vertical * 2;
  padding-bottom: $padding-vertical;
  padding-left: $padding-vertical * 2;
  // width: 280px;
  width: 200px;

  @media (min-width: $min-width-md) and (max-width: $min-width-lg) {
    width: 240px;
  }

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    width: 420px;
  }
}

@media (max-width: $max-width-sm) {
  .footer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding-bottom: $padding-vertical;
    padding-top: $padding-vertical;
  }

  .footer-text,
  .footer-contact {
    display: none;
    margin: 0;
  }

  .footer-links {
    flex-direction: column;
    margin-top: $padding-vertical;
    padding: 1vh 0;
    text-align: center;
    width: 100%;
  }

  .footer-links a {
    font-family: Bebas Neue Regular;
    font-size: 1.5em;
    padding-right: 0;
  }

  .footer-pages {
    align-items: center;
    padding: $padding-vertical 0;
    width: 100%;
  }

  .footer-social {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: $padding-vertical * 0.5;
    width: 100%;
  }

  .footer-social a:first-child {
    padding-right: $padding-horizontal;
  }

  .footer-links-left {
    align-items: center;
    flex-direction: column;
  }

  .footer-mobile-text {
    color: $white;
    display: flex;
    font-family: Bebas Neue Regular;
    font-size: 1em;
    padding: $padding-vertical * 0.5 $padding-horizontal;
  }

  .footer-bottom {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .footer-logo {
    max-width: 200px;
    padding: $padding-vertical * 0.5 0;
  }
}
