@import '@/styles/theme';

.menu {
  @include config-transition-prop(
    background-color,
    $delay: 0s,
    $duration: 0.2s
  );

  background-color: transparent;
  height: $menu-height * 1.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    height: $menu-height * 2.5;
  }

  a {
    @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);
  }

  button {
    @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);
  }
}

.toggle {
  display: none;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.menu-logo {
  $size-big: 320px;
  $size-large: 480px;
  $size-smd: 230px;
  $size-medium: 280px;
  $size-small: 60px;

  margin-left: 1em;
  width: $size-small;

  img {
    height: 50px;
    object-fit: cover;
    object-position: left top;
    width: $size-small;
  }

  @media (min-width: 1024px) {
    width: $size-smd;

    img {
      height: 55px;
      width: $size-smd;
    }
  }

  @media (min-width: $min-width-smd) and (max-width: $min-width-md) {
    width: $size-medium;

    img {
      height: 65px;
      width: $size-medium;
    }
  }

  @media (min-width: $min-width-md) and (max-width: $min-width-lg) {
    width: $size-big;

    img {
      height: 80px;
      width: $size-big;
    }
  }

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    width: $size-large;

    img {
      height: 140px;
      width: $size-large;
    }
  }
}

.menu-left {
  display: flex;
  flex-direction: row;
}

.menu-links {
  display: flex;
  flex-direction: row;
  padding-right: $padding-horizontal;
}

.menu-about {
  padding-right: $padding-horizontal;
}

.menu-about-border {
  @include config-transition-prop(border-left-color);

  border-left: 1px transparent solid;
  height: 2.5em;
  margin-bottom: 0.5em;

  @media (min-width: 1024px) and (max-width: $min-width-smd) {
    height: calc(1.8em - (200vw / 1024));
  }

  @media (min-width: $min-width-smd) and (max-width: $min-width-md) {
    height: 2.4em;
  }

  @media (min-width: $min-width-md) and (max-width: $min-width-lg) {
    height: 2.7em;
  }

  &__light {
    border-left-color: $blue;
  }

  &__dark {
    border-left-color: $white;
  }

  &__white {
    border-left-color: $white;
  }
}

.menu-links a {
  color: $white;
  font-size: 1em;
  font-weight: 600;
  margin-right: $padding-horizontal;
}

.menu-links button {
  color: $white;
  font-size: 1em;
  font-weight: 600;
  margin-right: $padding-horizontal;
}

@media (min-width: 1024px) {
  .menu-links {
    a,
    button {
      // font-size: 1.1em;
      font-size: 1.6vw;
    }
  }
}

@media (min-width: $min-width-smd) and (max-width: $min-width-md) {
  .menu-links {
    a,
    button {
      font-size: 1.3em;
    }
  }
}

@media (min-width: $min-width-md) and (max-width: $min-width-lg) {
  .menu-links {
    a,
    button {
      font-size: 1.5em;
    }
  }
}

@media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
  .menu-links {
    a,
    button {
      font-size: 2.5em;
    }

    button {
      padding-top: 0.7em;
    }
  }
}

.menu-cta {
  @include config-transition-prop(background-color);

  background-color: transparent;

  a {
    @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);

    margin: 0 0.5em;
  }

  button {
    @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);

    margin: 0 0.5em;
  }
}

.menu-cta-active {
  background-color: $navy-blue;

  div {
    border-left-color: $navy-blue;
  }

  a {
    color: $gray-second !important;
  }

  button {
    color: $gray-second !important;
  }
}

.menu-cta-border {
  @include config-transition-prop(border-left-color);

  border-left: 1px $white solid;
  height: 2.5em;
  margin-bottom: 0.5em;

  @media (min-width: 1024px) and (max-width: $min-width-smd) {
    height: calc(1.8em - (200vw / 1024));
  }

  @media (min-width: $min-width-smd) and (max-width: $min-width-md) {
    height: 2.4em;
  }

  @media (min-width: $min-width-md) and (max-width: $min-width-lg) {
    height: 2.7em;
  }

  &__light {
    border-left-color: $blue;
  }

  &__dark {
    border-left-color: $white;
  }

  &__white {
    border-left-color: $white;
  }
}

.light {
  a {
    color: $blue;
    // color: $white;

    &:hover {
      color: $gray-second;
    }
  }

  button {
    color: $blue;
    // color: $white;

    &:hover {
      color: $gray-second;
    }
  }

  &__link-hover {
    border-bottom-color: $blue !important;
  }

  &__link-active {
    color: $gray-second !important;

    &:hover {
      color: $blue !important;
    }
  }
}

.dark {
  a {
    color: $white;

    &:hover {
      color: $gray-second;
    }
  }

  button {
    color: $white;

    &:hover {
      color: $gray-second;
    }
  }

  &__link-hover {
    border-bottom-color: $white !important;
  }

  &__link-active {
    color: $gray-second !important;

    &:hover {
      color: $white !important;
    }
  }
}

.white {
  a {
    color: $white;

    &:hover {
      color: $white !important;
    }
  }

  button {
    color: $white;

    &:hover {
      color: $white !important;
    }
  }

  &__link-active {
    color: $gray-second !important;

    &:hover {
      color: $white !important;
    }
  }
}

.menu-lang {
  align-items: center;
  display: flex;
  flex: row;
  font-family: Bebas Neue Regular;
  margin-top: -1em;
  padding: 0 ($padding-horizontal);

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    font-size: 2em;
  }
}

// .menu-lang p {
//   color: $navy-blue
// }
.menu-lang-p {
  @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);

  &__light {
    color: $blue;
  }

  &__dark {
    color: $white;
  }

  &__white {
    color: $gray-blue;
  }
}

.menu-lang > * {
  // color: $white;
  margin-left: 1em;
}

.menu-lang-btn {
  @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);

  &__light {
    color: $gray-second !important;

    &:hover {
      color: $blue !important;
    }
  }

  &__dark {
    color: $gray-blue !important;

    &:hover {
      color: $white !important;
    }
  }

  &__white {
    color: $gray-second !important;

    &:hover {
      color: $blue !important;
    }
  }
}

/* small nav */
.header-small-button {
  margin: 0;
  padding: $padding-vertical;
  z-index: 10;
}

.header-small-closebtn {
  bottom: 0;
  margin: 0;
  padding: 0 $padding-vertical $padding-vertical 0;
  position: fixed;
  right: 0;
  z-index: 10;
}

.menu-small {
  display: none;
  width: 100%;
}

.mobile-logo {
  display: none;
}

@media (max-width: $max-width-sm) {
  .menu {
    visibility: hidden;
  }

  .menu-logo {
    display: none;
  }

  .menu-wrapper {
    // background-color: $cherry-red;
    background-color: $navy-blue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    // justify-content: space-between;
    justify-content: flex-start;
    position: fixed;
    width: 100vw;
    z-index: 5;
  }

  .menu-links {
    flex-direction: column;
    height: 55vh;
    // padding: $padding-vertical;
    padding: 0;
    width: 100%;
  }

  .menu-links a {
    color: $white;
    // font-family: Bebas Neue Regular;
    font-size: 1.5em;
    padding-left: 0.7em;
    text-transform: capitalize;

    &:hover {
      background-color: $white;
      color: $navy-blue !important;
    }
  }

  .menu-links button {
    color: $white;
    // font-family: Bebas Neue Regular;
    font-size: 1.5em;
    padding-left: 0.7em;
    text-align: start;

    &:hover {
      background-color: $white;
      color: $navy-blue !important;
    }
  }

  .menu-about-border {
    display: none;
  }

  .menu-cta-border {
    border-bottom: 1px $white solid;
    border-left: 0;
    width: 100vw;
  }

  .menu-about {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-transform: lowercase;
    // width: 100%;
  }

  .menu-cta {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      margin: 0;
      width: 100vw;
    }

    button {
      margin: 0;
      width: 100vw;
    }
  }

  .menu-left {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(45vh);
  }

  .menu-small {
    display: block;
    height: 3em;
    position: fixed;
    top: 0;
    z-index: 6;
  }

  .menu-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-logo {
    display: block;
    max-width: 280px;
    z-index: 11;
  }

  .menu-lang {
    // bottom: calc(24px + 1.5em);
    font-size: 1.3em;
    justify-content: flex-start;
    left: 0;
    padding: unset;
    position: fixed;
    top: -25vh;
  }

  .menu-lang > * {
    // color: $white;
    margin-left: 0.8em;
  }

  .menu-lang p {
    color: $white;
  }

  .light {
    a {
      // color: $blue;
      color: $white;

      &:hover {
        color: $gray-second;
      }
    }

    button {
      // color: $blue;
      color: $white;

      &:hover {
        color: $gray-second;
      }
    }

    &__link-hover {
      border-bottom-color: $white !important;
    }

    &__link-active {
      color: $gray-second !important;

      &:hover {
        color: $blue !important;
      }
    }
  }

  .dark {
    a {
      color: $white;

      &:hover {
        color: $gray-second;
      }
    }

    button {
      color: $white;

      &:hover {
        color: $gray-second;
      }
    }

    &__link-hover {
      border-bottom-color: $white !important;
    }

    &__link-active {
      color: $gray-second !important;

      &:hover {
        color: $white !important;
      }
    }
  }

  .white {
    a {
      color: $white;

      &:hover {
        color: $white !important;
      }
    }

    button {
      color: $white;

      &:hover {
        color: $white !important;
      }
    }

    &__link-active {
      color: $gray-second !important;

      &:hover {
        color: $white !important;
      }
    }
  }
}

.link {
  border-bottom: 3px solid transparent;
}

.submenu {
  background-color: rgba($gray-blue, 0.1);
  // background-color: $white;
  bottom: unset;
  // height: fit-content;
  height: 11.5em;
  inset: 0;
  padding-top: $menu-height;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, height 0.3s ease-in;
  will-change: transform, height;
  z-index: -1;

  @media (min-width: $min-width-md) and (max-width: $min-width-lg) {
    height: 15em;
    padding-top: $menu-height;
  }

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    height: 25em;
    padding-top: $menu-height * 1.8;
  }

  &-opaque {
    background-color: $white;
  }

  &-transparent {
    background-color: rgba($gray-blue, 0.1);
  }

  &-enabled {
    transform: translateY(0);
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0.5rem;
    transition: padding 0.1s ease-in-out;
    will-change: padding;

    &-empty {
      height: 1.3rem;
    }

    &-active {
      font-style: italic;
    }
  }
}
