@import '@/styles/theme';

.container {
  // overflow: hidden;
  width: 100%;
}

.cover {
  background-color: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  // ajuste
  // margin-bottom: $menu-height * 1.4;
  transform: translateY(-$menu-height * 1.4);

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    // margin-bottom: $menu-height * 2.5;
    transform: translateY(-$menu-height * 2.5);
  }

  &__header {
    background-color: $navy-blue;
    height: $menu-height * 1.4;
    position: sticky;
    top: $menu-height * 0.1;

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      height: $menu-height * 2.5;
    }
  }

  &__title {
    font-size: 3em;
    line-height: 1em;
    padding-bottom: $padding-vertical;
    padding-left: 1.3em;
    padding-top: $padding-vertical;

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 5em;
      padding-bottom: $padding-vertical * 0.2;
      padding-left: 1.1em;
      padding-top: $padding-vertical;
    }
  }

  &__border {
    background-color: $white;
    bottom: 0;
    height: 0.7em;
    margin-bottom: 1.5rem;
    margin-top: 1em;
    position: absolute;
    width: 10vw;
    z-index: 2;

    @media (max-width: $max-width-sm) {
      display: none;
    }

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      margin-bottom: 4.5rem;
    }
  }
}

.menu-bg {
  // background-color: $cherry-red;
  height: $menu-height * 1.4;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    height: $menu-height * 2.5;
  }

  &__dark {
    background-color: transparent;
  }

  &__light {
    background-color: $white;
  }
}

.services {
  display: flex;
  min-height: 100vh;
  scroll-snap-align: start;
  transform: translateY(-$menu-height * 1.39);

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    transform: translateY(-$menu-height * 2.49);
  }

  p {
    color: $navy-blue;
    font-size: 1.8em;

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 2.8em;
    }
  }

  h3 {
    color: $navy-blue;
    font-family: Bebas Neue Regular;
    font-size: 1.8em;

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 2.8em;
    }
  }

  li {
    color: $navy-blue;
    font-size: 1.8em;

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 2.8em;
    }
  }

  &__nav {
    &-active {
      background-color: $navy-blue;
      bottom: 0.6rem;
      height: 0.3rem;
      position: absolute;
      transform: translateX(-110%);
      width: $padding-vertical * 1.1;
    }

    &-item {
      padding-left: $padding-horizontal * 1.1;
      padding-right: $padding-horizontal * 2;
      position: relative;
      text-transform: uppercase;

      p,
      h3 {
        font-size: 1.5em;
        margin: 0;
      }

      h3 {
        cursor: pointer;
      }
    }

    &-sticky {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: $menu-height * 3;

      @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
        top: $menu-height * 5.3;
      }
    }

    &-desk {
      display: none;

      @media (min-width: $min-width-sm) {
        display: block;
        margin-top: $menu-height * 1.4;
      }

      @media (min-width: $min-width-lg) {
        display: block;
        margin-top: $menu-height * 2.5;
      }
    }
  }

  &__service {
    &-banner {
      height: 100vh;
      position: relative;
      width: 100%;

      @media (min-width: $min-width-sm) {
        display: block;
        margin-top: $menu-height * 1.4;
      }

      @media (min-width: $min-width-lg) {
        display: block;
        margin-top: $menu-height * 2.5;
      }

      img {
        // filter: blur(7px);
        height: 100vh;
        transform: scale(1.1);
      }
    }

    &-description {
      // font-weight: bold;
      // top: 0;
      padding: 20vh $padding-horizontal;
      position: sticky;

      @media (min-width: $min-width-sm) {
        padding-left: $padding-horizontal * 1.1;
        width: 90%;
      }

      p {
        font-size: 1.5em;
        padding-top: $menu-height * 0.7 !important;

        @media (min-width: $min-width-sm) {
          // font-size: 3em;
          padding-top: $menu-height * 0.574 !important;
        }

        @media (min-width: $min-width-lg) {
          // font-size: 5em;
          padding-top: $menu-height * 0.648 !important;
        }
      }
    }

    &-body {
      padding-bottom: $menu-height * 2;
      padding-right: $padding-horizontal * 1.1;
      padding-top: $menu-height;
      scroll-snap-align: start;

      @media (min-width: $min-width-sm) {
        padding-top: $menu-height * 1.4;
      }

      @media (min-width: $min-width-lg) {
        padding-top: $menu-height * 2.5;
      }

      h2 {
        color: $navy-blue;
        font-family: Bebas Neue Regular;
        font-size: 1.6em;
        margin-bottom: 0.5em;
        margin-top: 2em;
      }

      h3 {
        margin-bottom: 0;
        margin-top: 1.5em;
      }

      p {
        padding-top: 1em !important;
      }
    }

    &-desk {
      display: none;

      @media (min-width: $min-width-sm) {
        display: block;
      }

      p {
        margin: 0;
        padding-top: $menu-height;
        white-space: pre-line;

        @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
          padding-top: $menu-height * 1.12;
        }
      }
    }

    &-mobile {
      // background-color: $navy-blue;
      display: block;
      // padding-top: $menu-height * 1.4;
      transform: translateY(-1px);

      @media (min-width: $min-width-sm) {
        display: none;
      }
    }

    &-mobile-body {
      padding: 0 $padding-horizontal;
    }
  }

  &__body {
    display: flex;
    flex: 1 1;
    flex-direction: column;
  }
}

.buffer {
  padding: $padding-horizontal;
  scroll-snap-align: end;

  @media (min-width: $min-width-sm) {
    max-width: 35vw;
    scroll-snap-align: none;
  }

  &__title {
    text-transform: uppercase;

    h3 {
      color: $navy-blue;
      font-family: Bebas Neue Regular;
      font-size: 1.3em;
      line-height: 1em;

      @media (min-width: $min-width-sm) {
        font-size: 1.8em;
        line-height: 1em;
      }

      @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
        font-size: 2.8em;
      }
    }
  }
}

.faq {
  min-height: 100vh;
  scroll-snap-align: start;
}

.form {
  min-height: 100vh;
  // padding-top: 5vh;
  overflow: hidden;
  scroll-snap-align: start;
}
