@import '@/styles/theme';

.title {
  // max-width: 35vw;
  min-height: 42vh;
  padding-left: $padding-horizontal * 3.2;
  padding-top: $menu-height * 1.6;

  @media (max-width: $max-width-sm) {
    // max-width: unset;
    min-height: 100%;
    padding-left: $padding-horizontal;
  }

  @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
    padding-left: $padding-horizontal * 5.4;
    padding-top: $menu-height * 4;
  }

  div {
    font-size: 13vw;

    @media (min-width: $min-width-sm) {
      font-size: 5vw;
    }

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 6vw;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-width-sm) {
    flex-direction: row;
  }

  &__header {
    // background-color: $cherry-red;
    // Checar se há necessidade de deixar esquerda grande
    // height: $menu-height * 2;
    height: $menu-height * 1.4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @media (min-width: 2200px) and (max-width: 4800px) {
      height: $menu-height * 2.5;
    }

    &-light {
      background-color: $white;
    }

    &-dark {
      background-color: transparent;
      z-index: -1;
    }
  }

  &__header-logo {
    background-color: $white;

    // Checar se há necessidade de deixar esquerda grande
    height: $menu-height * 2;
    // height: $menu-height + 1em;
    position: sticky;
    top: 0;
    width: 36%;
    z-index: 1;

    @media (max-width: $max-width-sm) {
      display: none;
    }
  }

  &__left {
    color: $navy-blue;
    font-family: Bebas Neue Regular;
    font-size: 8vw;
    margin-bottom: 8vh;
    padding: 0 $padding-horizontal * 0.7;

    @media (min-width: $min-width-sm) {
      font-size: 2em;
      margin-bottom: unset;
      // max-width: 40vw;
      padding: 0 $padding-vertical $padding-horizontal;
      padding-left: $padding-horizontal * 1.8;

      p {
        margin-top: 2rem;
      }
    }

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 4em;
      padding-left: $padding-horizontal * 1.5;
    }

    &-txt {
      margin-bottom: 1.5rem;
      position: sticky;
      top: $menu-height;
      white-space: pre-line;
    }
  }

  &__right {
    font-size: 1.8em;
    padding: 0 $padding-horizontal * 0.5;

    @media (min-width: $min-width-sm) {
      // max-width: 60vw;
      padding: unset;

      p {
        margin-top: 2rem;
      }
    }

    @media (min-width: $min-width-lg) and (max-width: $min-width-xl) {
      font-size: 3.5em;
    }
  }
}
